.dayDate{
  padding: 10px;

  &_container {

    &_dayWeek{
      font-family: 'Actor', sans-serif;
      font-size: 16px;
      font-weight: bold;
    }

    &_day{
      font-family: 'Archivo',sans-serif;
      font-size: 14px;
    }

  }
}
