.day{
  padding: 10px;
}

.dayMonth {
  font-family: 'Archivo',sans-serif;
  /* font-weight: 100; */
  font-size: 14px;
}

.dayWeek {
  font-family: 'Actor', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
